.itemcount-container{
    padding: 10px;
    border: 1px solid rgb(64, 136, 194);
    border-radius: 5px;
}

.count-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:flex;
    justify-content: space-between;
}

.count-container p{
    font-size: 12px;
}

.add-itemcount button{
    margin: 5px;
}